body {
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
  color: #212529;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body.dark {
  background-color: #1e1e2e;
  color: #e0e0e0;
}

header {
  background-color: #007acc;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

body.dark header {
  background-color: #222;
}

.container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

body.dark table {
  background: #282a36;
}

td {
  white-space: nowrap;
  /*overflow: hidden;*/
  overflow-wrap: break-word;
  max-width: 150px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
  width: auto;
}

th {
  background-color: #e9ecef;
  cursor: pointer;
  position: relative;
  padding-right: 20px;
}

body.dark th {
  background-color: #33334d;
}

tr:hover {
  background: rgba(0, 0, 0, 0.05);
}

body.dark tr:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Buttons */
button {
  background: #0077cc;
  color: white;
  border: solit 1px white;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  transition: 0.3s;
  font-size: 1rem;
}

button:hover {
  background: #005fa3;
}

body.dark button {
  background: #ff9800;
  color: #1e1e2e;
}

body.dark button:hover {
  background: #e68900;
}

a {
  color: #0077cc;
  text-decoration: none;
  font-weight: 600;
  transition:
    color 0.3s ease,
    transform 0.2s ease;
}

a:hover {
  color: #005fa3;
  transform: scale(1.05);
  text-decoration: underline;
}

body.dark a {
  color: #ff9800;
}

body.dark a:hover {
  color: #e68900;
}

table[data-sortable] th[data-sorted-direction="ascending"]:after {
  content: " ▲";
  font-size: 0.8rem;
}

table[data-sortable] th[data-sorted-direction="descending"]:after {
  content: " ▼";
  font-size: 0.8rem;
}

.language-links {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(150px, 1fr)
  ); /* Dynamic columns */
  gap: 10px;
  padding: 20px;
}

.language-links a {
  display: block;
  text-decoration: none;
  padding: 8px;
  background: var(--link-bg);
  color: var(--link-color);
  border-radius: 5px;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.language-links a:hover {
  background: var(--link-hover-bg);
  color: var(--link-hover-color);
}
